
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    background-color: rgb(218, 225, 231);
    margin: 50;
    }
.nav{
    display: flex;
    justify-content: space-between; 
    position: relative;
    width: 960px;
    height: 80px;
    padding: 24px 160px 24px 160px;
    margin-left: auto;
    margin-right: auto;
    align-items: auto;
    }
.bangladesh{
    color: rgba(14, 14, 14, 0.5);
    font-family: Fira Sans;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0%;
    text-align: left;
    }
.span-b{
    color: green;
    }
.span-d{
    color: red;
    }
.main-1-1{
    color: rgba(14, 14, 14, 0.5);
    font-weight: 700;
    text-align: justify;
    }
.sign-in{
    padding: 15px 30px 32px 30px;
    margin: 0px 10px;
    border: 1px solid rgb(0, 106, 80);
    border-radius: 8px;
    color: rgb(0, 106, 80);
    font-family: Fira Sans;
    font-size: 15px;
    font-weight: 550;
    width: 110px;
    height: 40px;
    top: 25px;
    position: relative;
    }
.sign-in:hover{
    background-color: rgb(0, 106, 80);
    color: white;
    }

.section-main-1{
    display: flex;
    position: relative;
    padding: 80px 100px;
    margin-left: auto;
    margin-right: auto;
    align-items: auto;
    width: 1024px;
    height: 440px;
    border-radius: 24px;
    box-shadow: 5px 5px 25px 0.5px rgb(249, 248, 248);  
    }

.main-1-1{
    margin-top: auto;
    margin-bottom: auto;
    font-family: Fira Sans;
    position: relative;
    }
.main-bangladesh-20{
    color: rgba(0, 0, 0, 0.635);
    font-family: Fira Sans;
    background-color: rgb(13, 238, 238);
    margin-bottom: 30px;
    }
.main-bangladesh-explore{
    margin-top: 15px;
    font-family: Fira Sans;
    background-color: rgb(248, 255, 255);
    color: rgb(10, 0, 0);
    height: 35px;
    width: 210px;
    border-radius: 8px;
    margin-top: 30px;
    border: 1px solid rgba(35, 110, 0, 0.863);
    }
.main-bangladesh-explore:hover{
    background-color: rgb(110, 106, 106);
    /* color:rgb(236, 244, 244); */
    }
.hero{
    height: 263px;
    width: 380px;
    margin-top: 60px;
    }
    
.section-main-1,.section-main-2,.main-1-1,.hero{
    background-color: rgb(13, 238, 238);
    }
.section-pillars-bangladesh{
        margin-top: 75px;
    }
.section-pillars-bangladesh,.the-vision-future{
    font-family: Fira Sans;
    margin-left: 0 auto;
    margin-top: 70px;
    font-weight: 800px;
    }
    .the-vision-future{
        margin-top: 75px;
    }
.innovation, .div-pillars-2{
    font-family: Fira Sans;
    font-weight: 800px;
    display: flex;
    justify-content: center;
    border: 10px soli black;
    border-color: 5px solid black;
    margin-bottom: 70px;
    }
.div-pillars{
    background-color: rgb(236, 244, 244);
    width: 241.6px;
    height: 192.2px;
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 5px 5px 25px 0.5px rgb(183, 182, 182);
    }
.pillars{
    background-color: rgb(236, 244, 244);
    margin-right: 10px;
    }
.paragraph-bangladesh20{
    font-family: Fira Sans;
    }
.innovation-2{
    display: flex;
    justify-content:center;
    }
.innovation-box-01{
    display: flex;
    margin-top: 20px;
    margin-bottom: 40px;
}
.innovation-box-1{
    margin: 10px;
    height:260px;
    width: 328px;
    padding: 25.6px;
    border-radius: 8px;
    font-family: Fira Sans;
    background-color:rgba(84, 144, 245, 0.2);
    }
.innovation-child-img-1,.innovation-child-p-1,.innovation-child-h-1{
    background-color:rgba(84, 144, 245, 0);
    }
.innovation-box-2{
    margin: 10px;
    height:260px;
    width: 328px;
    padding: 25.6px;
    border-radius: 8px;
    font-family: Fira Sans;
    background-color:rgb(198, 228, 214);
    }
.innovation-child-img-2,.innovation-child-p-2,.innovation-child-h-2{
    background-color:rgb(198, 228, 214);
    }
.innovation-box-3{
    margin: 10px;
    height:260px;
    width: 328px;
    padding: 25.6px;
    border-radius: 8px;
    font-family: Fira Sans;
    background-color:rgb(247, 235, 207);
}
.innovation-child-img-3,.innovation-child-p-3,.innovation-child-h-3{
    background-color:rgb(247, 235, 207);
}
.innovation-box-1,.innovation-box-2,.innovation-box-3{
    box-shadow: 5px 5px 25px 0.5px rgb(249, 248, 248);
    }
.dm-yunus{
    height: 250.8px;
    width: 1130px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    border-radius: 10px;
    padding: 25px;
    box-shadow: 5px 5px 25px 0.5px rgb(183, 182, 182);
    }
.dm-yunus-p{
    background-color: white;
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    gap: 30px;
    }
.dm-yunus-p{
    background-image: url("quote-bg.png");
    background-repeat: no-repeat;
    background-position:left top;
    background-attachment:initial;
    margin-top: 0px;
    }
    
.dm-yunus-h{
    background-color: white;
    display: inline;
    /* margin-bottom: 0px; */
    }
.dm-yunus-small{
    background-color: white;
    margin-bottom: 0px;
    }
.main-h{
    margin-top: 75px;
    }
.main-div{
    height: 450px;
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    border-radius: 8px;
    background-color: white;
    font-family: Fira Sans;
    padding-top: 20px;
    padding-left: 1px;
    padding-right: 1px;
    border-radius: 8px;
    }
.main-h{
    font-family: Fira Sans;
    }
.main-table{
    position: static;
    margin-right: auto;
    margin-left: auto;
    /* margin-top: 35px; */
    width: 813.6px;
    height: 294.4px;
    }
.main-table,.tr,.td,.th{
    border: 1px solid black;
    border-collapse: collapse;
    background-color: white;
    }
.th-1{
    height: 50px;
    margin-left: 0px;
    }
.div-th{
    height: 50px;
    width: 813.6px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
    background-color: rgb(198, 228, 214);
    position: relative;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    border-radius: 8px;
    }
.button{
    height: 35.2px;
    width: 121.6px;
    margin-left: 5px;
    border-radius: 6px;
    border: 1px solid black;
    background-color: rgb(198, 228, 214);
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    }
.div-th-1{
    background-color: rgb(198, 228, 214);
    padding-left: 30px;
    padding-top: 15px;
    }
.div-th-2{
    background-color: rgb(198, 228, 214);
    padding-right: 25px;
    padding-top: 15px;
    }
.bd-news{
    height: 96px;
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
    
    }
.sl-sec-main1,.sl-sec-hd1,.sl-sec-h1,.sl-sec-jazeera1,.sl-sec-p1,.sl-sec-sl1{
    background-color: white;
    border-radius: 10px;
    }
.sl-sec-main1{
    display: flex;
    padding: 38.4px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
    font-family: Fira Sans;
    height: 321.6px;
    width: 1024px;
    border-radius: 10px;
    }
.sl-sec-hd1{
    margin-right: 25.6px;
    }
.sl-sec-sl1,.sl-sec-sl2{
    height: 244.8px;
    width: 326.4px;
    }
.sl-sec-main2,.sl-sec-hd2,.sl-sec-h2,.sl-sec-jazeera2,.sl-sec-p2,.sl-sec-sl2{
    background-color: white;
    border-radius: 10px;
    }
.sl-sec-main2{
    display: flex;
    padding: 38.4px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
    font-family: Fira Sans;
    height: 321.6px;
    width: 1024px;
    margin-top: 20px;
    margin-bottom: 20px;
    }
.sl-sec-hd2{
    margin-left: 25.6px;
    }
.date-time{
    background-color: white;
    display: block;
    font-family: Fira Sans;
    margin-top: 10px;
    }
.date{
    background-color: white;
    }
time{
    background-color: white;
    }
.donaton{
    
    }
.hp{
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
}
.donate-h{
    width: 1024px;
    font-weight: 800px;
    font-family: Fira Sans;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
    }
.donate-p{
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: rgba(14, 14, 14, 0.7);
    }
.donate-div-main{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
    
    }
.donate-d1{
    height: 102.4px;
    width: 201.6px;
    background-color: white;
    margin:19.2px;
    border-radius: 8px;
    border: 1px solid black;
    }
.donate-d2{
    height: 102.4px;
    width: 201.6px;
    background-color: rgb(198, 228, 214);
    margin:19.2px;
    border-radius: 8px;
    border: 1px solid black;
    }
.donate-d3{
    height: 102.4px;
    width: 201.6px;
    background-color: white;
    margin:19.2px;
    border-radius: 8px;
    border: 1px solid black;
    }
.donate-d4{
    height: 102.4px;
    width: 201.6px;
    background-color: white;
    margin:19.2px;
    border-radius: 8px;
    border: 1px solid black;
    
    }
.donate-h1,.donate-h2{
    margin-top: 35px;
    margin-left: 50px;
    background-color: white;
    font-family: Fira Sans;
    }
.donate-h2{
    background-color: rgb(198, 228, 214);
    font-family: Fira Sans;
    }
.donate-h1-4{
    margin-top: 35px;
    margin-left: 30px;
    background-color: white;
    font-family: Fira Sans;
    }
.input{
    background-color: white;
    display: block;
    border-radius: 0%;
    border: none;
    font-family: Fira Sans;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    padding-right: 0;
    }
.div-input{
    height: 40px;
    width: 825.6px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border: 1px solid green;
    border-radius: 5px;
    padding-top: 28px;
    color: rgba(14, 14, 14, 0.3);
    }
.button{
    display: block;
    height: 44.8px;
    width: 120.8px;
    background-color: green;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25.6px;
    color: aliceblue;
    font-family: Fira Sans;
}
.last-div-main{
    height: 316px;
    width: 1024px;
    background: rgb(198, 228, 214);
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    margin-top: 25.6px;
    padding: 20px;
    font-family: Fira Sans;
}
.last-div-h2{
    display: block;
    background-color: rgb(198, 228, 214);
}
.last-div-p{
    display: block;
    height: 38.4px;
    width: 497.6px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-items: justify;
}
.last-div-p,.last-div-buttons{
    background: rgb(198, 228, 214);
}
#last-div-p{
    display: block;
    height: 38.4px;
    width: 230px;
    margin-right:auto;
    margin-left: auto;
    margin-top: 50px;
    justify-content: center;
    padding-top: 0;
    padding-left: 5px;
    background: rgb(198, 228, 214);}
.last-div-dh{
    height: 38.4px;
    width: 600px;
    background-color: rgb(198, 228, 214);
    margin-left: auto;
    margin-right: auto;
    padding-left: 430px;
    padding-top: 19.2px;
    font-weight: 700;
    font-size: larger;
    font-family: Fira Sans;

}
.last-div-buttons{
    display: flex;
    position:relative;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
}
.last-div-input{
    display: flex;
    height: 44px;
    width: 480px;
    background-color: white;
    font-family: Fira Sans;
    border: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.last-div-button{
    height: 46px;
    width: 120px;
    margin-top: 2px;
    background: rgb(0, 106, 80);
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    font-weight: bold;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: none;
}
.footer-main{
    height: 180.8px;
    width: 1600px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 38px;
    align-items: center;
    padding: 40px;
}
.bd-h2{
    display: block;
    width: 177.6px;
    height: 30.4px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 38px;
    background-color: white;
    font-family: Fira Sans;
}
.bd20-h{
    background-color: white;
}
.photos{
    width: 90px;
    height: 30.4px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    margin-top: 30px;
}
.fb,.insta,.x{
    background-color: white;
}
.multiple{
    box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
	background-color:#79bbff;
	border-radius:6px;
	border:1px solid #84bbf3;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528ecc;
}
.multiple:hover{
    background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
	background-color:#378de5;
}
.multiple:active{
    position:relative;
	top:1px;
}
.multiple-2{
    margin-top: 20px;
    box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
	background-color:#79bbff;
	border-radius:6px;
	border:1px solid #84bbf3;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528ecc;
    }
.multiple-2:hover{
    background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
	background-color:#378de5;
    }
.multiple-2:active{
    position:relative;
    top:1px;
    }